/****************
*** Variables ***
****************/

:root {
    --text-color: #fff;
}


/**************
*** General ***
**************/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #20282a;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 4em;
    margin: auto;
}

h2 {
    font-size: 1.85em;
    margin: 0.6em auto;
}

p {
    font-size: 1.2em;
}

a {
    color: #fc4;
    &:hover {
        color: #fa2;
    }
}

div.page-container {
    margin: 0;
    padding: 0;
    overflow-x: clip;
    position: relative;
}

div.center-section {
    background-color: #60606090;
    width: 76%;
    padding: 2em 4em;
    margin: 3em auto;
    border-radius: 16px;
    overflow: hidden;
}

div.hbreak {
    width: 100%;
    height: 0;
    border-top: 3px #d0d0d070 solid;
    margin: 2em 0;

    &.small {
        margin: 1.4em 0;
        border-top: 3px #d0d0d050 solid;
    }
}


/*****************
*** Navigation ***
*****************/

#main-tabs-nav {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    margin: -2em -4em 2em;
    padding: 0;
    overflow: clip;

    & li {
        list-style-type: none;
        background-image: linear-gradient(#a0a0a016);

        &:hover {
            background-image: linear-gradient(90deg, #d0d0d026, #bdbdbd18, #bdbdbd18, #d0d0d026);
        }

        &::before {
            width: 100%;
            height: 100%;
            display: block;
            background-image: url("media/noise.png");
            background-repeat: repeat;
            background-color: transparent;
            opacity: 8%;
            content: "";
        }
    }

    & li a {
        padding: 1.5em;
        display: inline-block;
        width: stretch;
        text-decoration: none;
        color: #fff;
        position: relative;
        top: -4.5em;
    }

    & li a span {
        display: block;
        justify-self: center;
        font-size: 1.3em;
        text-shadow: 2px 2px 1px rgba(40, 40, 40, 0.6);
    }
}


/***************
*** Showcase ***
***************/

div.video-container {
    width: 100%;
    display: flex;
    justify-content: center;

    & video {
        max-height: 60vh;
        max-width: 85%;
    }
}

#showcase details {
    background-color: #20282a60;
    padding: 0.8em 1.5em 0.2em;
    margin: 1em 0;
    border-radius: 10px;

    & summary h3 {
        color: #ffe9b0;
        font-size: 1.4em;
        margin: 0.25em;
        display: inline-block;
        cursor: pointer;
    }

    & summary img.icon {
        height: 1.9em;
        width: 1.9em;
        margin: 0 0 0 0.5em;
        position: relative;
        top: 0.5em;
        cursor: pointer;
    }

    & summary p {
        padding: 0 0 0 0.8em;
    }
}


/******************
*** Fun visuals ***
******************/

@keyframes parallax {
    from {top: 25vh;}
    to {top: 85vh;}
}

div.parallax {
    background: linear-gradient(transparent,rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.065), transparent);
    width: 200vw;
    height: 280px;
    transform: rotate(350deg) translate(-50vw);
    position: absolute;
    z-index: -1;

    animation: parallax linear;
    animation-timeline: view();
}